doctype html
html(lang='en')
  head
    title Technology Goals | Brooklyn United
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:100,300,400,700')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    script(src='/bundle.js')
